body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
  padding-top: 70px;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.f16 {
	font-size: 16px;
}
.bg-transparent {
	background-color: transparent;
}
img.dark-shadow{
  filter: drop-shadow(5px 3px 3px rgba(0,0,0,0.5));
}
input,textarea,.btn {
	border-radius: 0px !important;
}
.avatar {
  border-radius: 50%;
}
select {
  border-radius: 0px !important;
  -webkit-appearance: none;
      -webkit-border-radius: 0px;
  -moz-appearance: none;
      background-position: 100% 50%;
      background-repeat: no-repeat;
}
select.color {
  border-radius: 0px !important;
  -webkit-appearance: none;
      -webkit-border-radius: 0px;
  color: #000;
  text-indent: 100%;
}
.amount-sign {
  background-color: transparent;
  color: #FFF;
  border: 1px solid rgba(0,0,0,.125);
}
.icon-remove {
  background-image: url("../img/remove.svg");
  background-size: 50px;
  background-repeat: no-repeat;
}
.icon-request {
  background-image: url("../img/request.svg");
  background-size: 50px;
  background-repeat: no-repeat;
}