<div class='row'>
	<div class="col-12 col-lg-8 offset-lg-2 text-light">

		<h1 class='text-center'>My Account</h1>
		
		<br />
		
		<div class='row'>
			<div class='col-4'>
				<img class='account-qr' width="100%" height="auto" />
			</div>
			<div class='col-6'>
				<div class='col-2'>
					<h3 class='userName'></h3>
					<small class='publicKey'></small>
				</div>

				<br />

				<div class='col-2 font-weight-bold'>
					Email:
				</div>
				<div class='col-8 email'>
					
				</div>

				<br />

				<div class='col-10'>
					<a href="#" class='text-muted'>Change profile...</a>
				</div>

			</div>
		</div>
	</div>
	<script src="/events/AccountScriptBundled.js"></script>
</div>