<div class='row'>
	<div class="col-12 col-lg-8 offset-lg-2 text-light">

		<h1 class='text-center'>My Account</h1>
		<br /><br />
		
		<div class='row'>
			<div class='col-2'>
				<img src="/assets/img/avatar.svg" class='avatar' width='100%' height='auto' />
			</div>
			<div class='col-10'>
				<h3>johndoe</h3>
				<small>rDbWJ9C7uExThZYAwV8m6LsZ5YSX3sa6US</small>
			</div>
		</div>

		<br />

		<div class='row'>
			<div class='col-2 offset-2 font-weight-bold'>
				Name:
			</div>
			<div class='col-8'>
				John Doe
			</div>
		</div>

		<br />

		<div class='row'>
			<div class='col-2 offset-2 font-weight-bold'>
				Email:
			</div>
			<div class='col-8'>
				john.doe@example.com
			</div>
		</div>
	</div>
</div>