<div class='row'>
	<div class="col-12 col-lg-6 offset-lg-3 text-center text-light">
		<img src='/assets/img/xplit-light.svg' width='200px' height='auto' />

		<h1>Add Friend</h1>
		<br /><br />

		<% if (friend) { %>
			<p id="success" class="text-success">Friend <%= friend %> added!</p>
		<% } else{ %>
			<form id="addFriendForm">
				<div class="form-group">
					<input id="username" name="username" type="text" class="form-control form-control-lg" placeholder="Username" required/>
				</div>
				<div class="form-group">
	  				<button id="register" type="submit" class="btn btn-secondary btn-lg col-12">Add Friend</button>
				</div>
			</form>
		<% } %>
	</div>
	<script src="/events/RegisterScriptBundled.js"></script>
</div>
