<div class='row'>
	<div class="col-12 text-light">

		<h1 class='text-center'>Bills</h1>
		<br /><br />

		<% bills.forEach(bill => { %>
			<%= bill.id %> <br />
		<% }) %>

		<div class='row'>
			<div class='col-12'>
				<h2 id="loading">Loading bills...</h2>
			</div>
			<div class='col-12 col-lg-6' id="unsettled" style="visibility: hidden">
				<h5> Unsettled bills</h5>

				
					<div class='unsettled-bills'>
						<div id="unsettled-bills-info">There are no unsettled bills</div>
					</div>
				
			</div>

			<div class='col-12 col-lg-6' id="settled" style="visibility: hidden">
				<h5>Settled bills</h5>

				<div class='settled-bills'>
					<div id="settled-bills-info">There are no settled bills.</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <script src="/events/BillsScriptBundled.js"></script> -->
</div>