<div class='row'>
	<div class="col-12 text-light">

		<h1 class='text-center'>Bills</h1>
		<br /><br />

		<div class='row'>

			<div class='col-12 col-lg-6'>
				<h3>Unsettled Bills</h3>

				<div class='unsettled-bills'>
					<div id="unsettled-bills-info">There are no unsettled bills.</div>
				</div>
			</div>

			<div class='col-12 col-lg-6'>
				<h3>Settled Bills</h3>

				<div class='settled-bills'>
					<div id="settled-bills-info">There are no settled bills.</div>
				</div>
			</div>
		</div>
	</div>

	<script src="/events/BillsScriptBundled.js"></script>
</div>