<div class='row'>
	<div class="col-12 col-lg-12 text-light">
		<h1 class='text-center'>
			My Friends
		</h1>
		<br /><br />

		<table class='table table-dark'>
			<thead>
				<tr>
					<th scope="col">Username</th>
					<th scope="col">Public Key</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>

			<tbody>
			<% friends.forEach(friend => { %>
				<tr>
					<td><%= friend.username %></td>
					<td><%= friend.publickey %></td>
					<td><div class='remove-friend icon-remove d-inline-block' data-id='<%= friend.username %>'>&nbsp;</div>
						<div class='request-friend icon-request d-inline-block' data-id='<%= friend.username %>'>&nbsp;</div>
					</td>
				</tr>
			<% }) %>
				<tr>
					<td colspan='2'><input type='text' class='form-control bg-dark' name='addUsername' id='addUsername' placeholder="Username" /></td>
					<td><button class='btn btn-secondary' name='addFriendButton'>Add Friend</button></td>
				</tr>
			</tbody>

  		</table>

	</div>
	<script src="/events/FriendScriptBundled.js"></script>
</div>
