<div class='row'>
	<div class="col-12 col-lg-12 text-light">
		<h1 class='text-center'>
			My Groups
		</h1>
		<br />

		<div class='row'>
			<% groups.forEach(function(group) { %>
				<div class='col-12 col-lg-4'>
					<div class='card text-center group-item bg-secondary rounded-0 mb-3' data-id="<%= group.id %>">
						<div class='card-body'>
							<h5 class='card-title'><%= group.name %></h5>
							<div class='card-text'>
								<h3><span><%= group.description %></span></h3>
							</div>
						</div>
					</div>
				</div>
			<% }) %>
		</div>

		<br />

		<div class='row'>
			<div class="col-12 text-center">
				<a href="#" class="text-muted">Create new group...</a>
			</div>
		</div>
	</div>
</div>

<script src="/events/GroupsScriptBundled.js"></script>
