<div class='row mt-5 mb-5'>
	<div class="col-12 col-lg-8 text-light align-self-center">
		<h1>Stop worrying about expenses!</h1>
		<h5>Organize groups, track balances, or request payment directly or later.</h5>

		<br />
		<a href="./login" class="btn btn-secondary btn-lg">Login</a> &nbsp; <a href="./register" class="btn btn-light btn-lg">Register</a>
	</div>

	<div class='col-12 col-lg-4 text-center text-light'>
		<img src='/assets/img/xplit-light.svg' width='150px' height='auto' /><br />
	</div>
</div>

<div class='row mt-5'>
	<div class='col-12 mt-5'>
		<div class='row'>
			<div class='col-12 col-lg-4 text-center text-white mb-3'>
				<div class='card bg-transparent border-1 rounded-0'>
					<div class='card-header bg-transparent border-0'>
						<img src='/assets/img/fast-cheap.svg' class='dark-shadow' width='200px' height='auto' />
					</div>
					<div class='card-body'>
						<h3>Easy. Fast. Cheap.</h3>
					</div>
				</div>
			</div>

			<div class='col-12 col-lg-4 text-center text-white mb-3'>
				<div class='card bg-transparent border-1 rounded-0'>
					<div class='card-header bg-transparent border-0'>
						<img src='/assets/img/secure.svg' class='dark-shadow' width='200px' height='auto' />
					</div>
					<div class='card-body'>
						<h3>Secure & Private</h3>
					</div>
				</div>
			</div>

			<div class='col-12 col-lg-4 text-center text-white mb-3'>
				<div class='card bg-transparent border-1 rounded-0'>
					<div class='card-header bg-transparent border-0'>
						<img src='/assets/img/blockchain.svg' class='dark-shadow' width='200px' height='auto' />
					</div>
					<div class='card-body'>
						<h3>XRP Technology</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>