<div class='row'>
	<div class="col-12 col-lg-6 offset-lg-3 text-center text-light">

		<h1>Pay Requests</h1>
		Below you can find the request(s) to be paid.
		<br /><br />
	
		<div style='padding: 20px; border: 1px solid rgba(0,0,0,.125);'>
			<div class="form-group row">
				<div class='col-4 col-lg-3 text-center'>
					<img src='/assets/img/avatar.svg' class='avatar' width='100%' height='auto'  style='max-width: 100px;' />
					<br />
					<small>johndoe</small>
				</div>

				<div class='col-4 col-lg-6 text-center align-self-center font-weight-bold'>
					&euro;13,17
					<br />
					<img src='/assets/img/arrow-right.svg' style='max-width: 50px; height: auto;' />
				</div>

				<div class='col-4 col-lg-3'>
					<img src='/assets/img/avatar.svg' class='avatar' width='100%' height='auto' style='max-width: 100px;' />
					<br />
					<small>anonymouse</small>
				</div>

				<div class='col-12 text-center'>
					Lunch at EWI
				</div>
			</div>

	  		<button type="submit" class="btn btn-secondary btn-lg col-12">Submit Payment</button>
	  	</div>
	</div>
</div>