<div class='row'>
	<div class="col-12 col-lg-6 offset-lg-3 text-center text-light">
		<img src='/assets/img/xplit-light.svg' width='200px' height='auto' />

		<h1>Register</h1>
		Please fill out the form to create an account.
		<br /><br />
		
		<form>
			<div class="form-group">
  				<input type="text" class="form-control form-control-lg" id="fullName" placeholder="Full Name*" />
				</div>
				<div class="form-group">
  				<input type="text" class="form-control form-control-lg" id="email" placeholder="Email*" />
			</div>
			<div class="form-group">
  				<input type="text" class="form-control form-control-lg" id="userName" placeholder="Username*" />
				</div>
				<div class="form-group">
  				<input type="password" class="form-control form-control-lg" id="password" placeholder="Password*" />
				</div>
				<div class="form-group">
  				<input type="password" class="form-control form-control-lg" id="privateKey" placeholder="Private Key*" />
			</div>
			<div class="form-group">
  				<button type="submit" class="btn btn-secondary btn-lg col-12">Register</button>
			</div>

			<a href="./login" class='text-light'>Already registered?</a>
		</form>
	</div>
</div>