<div class='row'>
	<div class="col-12 col-lg-6 offset-lg-3 text-center text-light">
		<img src='/assets/img/xplit-light.svg' width='200px' height='auto' />

		<h1>Register</h1>
		Please fill out the form to create an account.
		<br /><br />
		
		<form id="registerForm">
			<div class="form-group">
				<input id="username" name="username" type="text" class="form-control form-control-lg" placeholder="Username*" required/>
			</div>
			<div class="form-group">
				<p>We require your secret key to generate a public key that is send to our servers. Your secret will never be sent to our servers.</p>
				<input id="secret" name="secret" type="password" class="form-control form-control-lg" placeholder="Secret*" required/>
			</div>
			<div class="form-group" >
  				<input id="fullName" name="fullName" type="text" class="form-control form-control-lg" placeholder="Full Name*" />
			</div>
			<div class="form-group">
  				<input id="email" name="email" type="email" class="form-control form-control-lg" placeholder="Email*" />
			</div>
			<div class="form-group">
  				<button id="register" type="submit" class="btn btn-secondary btn-lg col-12">Register</button>
			</div>
		
			<p id="parseError" class="d-none text-danger">Cannot parse secret into public key. Please check the format!</p>

			<a href="./login" class='text-light'>Already registered?</a>
		</form>
		<p id="success" class="d-none text-success">Registration complete! Redirecting to login in 5 seconds...</p>

	</div>
	<script src="/events/RegisterScriptBundled.js"></script>
</div>
