<div class='row'>
	<div class="col-12 col-lg-6 offset-lg-3 text-center text-light">

		<h1>Request Payment</h1>
		Please select friends and amount to split.
		<br /><br />
		
		<form class='text-left'>
			<div class="form-group row align-top">
				<div class="col-5">
					Select Friends
				</div>
				<div class="col-7">
					<div class='row'>
						<div class='col-8'>
							Friend 1
						</div>
						<div class='col-4'>
							<input type='text' class='form-control form-control-sm rounded-0' />
						</div>
					</div>
					<div class='row'>
						<div class='col-8'>
							Friend 2
						</div>
						<div class='col-4'>
							<input type='text' class='form-control form-control-sm rounded-0' />
						</div>
					</div>
					<div class='row'>
						<div class='col-8'>
							Friend 3
						</div>
						<div class='col-4'>
							<input type='text' class='form-control form-control-sm rounded-0' />
						</div>
					</div>
					<div class='row'>
						<div class='col-8'>
							Friend 4
						</div>
						<div class='col-4'>
							<input type='text' class='form-control form-control-sm rounded-0' />
						</div>
					</div>
				</div>
			</div>

			<div class="form-group row align-top">
				<div class="col-5">
					Include myself
				</div>
				<div class="col-7">
					<input type="checkbox" class="form-control" id="meCheckbox" checked>
				</div>
			</div>

			<div class="form-group row align-top">
				<div class="col-5">
					Total Amount
				</div>
				<div class="col-7">
					<div class="input-group mb-3" id="amountRow">
		  				<div class="input-group-prepend">
		    				<span class="input-group-text rounded-0">&euro;</span>
		  				</div>
		  				<input type="text" class="form-control form-control-lg" id="amount" aria-label="Amount" placeholder="Amount">
					</div>
				</div>
			</div>

			<div class='form-group'>
				The settlement of &euro;x in total is split over y persons. <br />
				Every person should pay &euro;z to you.
			</div>

			<div class="form-group">
  				<button type="submit" class="btn btn-secondary btn-lg col-12">Send</button>
			</div>
		</form>
	</div>
</div>