<footer class="my-3 pt-5 text-muted text-center text-small">
	© 2020 - Xplit - Blockchain Engineering
	<ul class="list-inline">
  		<li class="list-inline-item"><a href="https://github.com/roemba/xsplit/" target="_blank" class='text-light'>Github</a></li>
	</ul>
</footer>